<% content_for :title, "Past Data" %>
<h1>Months</h1>

<% @months.each do |month| %>
  <% if month.user == current_user %>
    <% unless month.archived? %>
        <li>
         <%= link_to month.title, month %>
       </li>
    <% end %>
  <% end %>
<% end %>

<br>
</br>
<%= link_to "Add New Month", new_month_path %>


<br>
</br>
<div class="month_photo">
  <%= image_tag("dave_rules1.jpg", :alt => "success", :class => "dave")%>
</div>