<% content_for :title, "Future Data" %>
<h1>Months</h1>

<% @future_months.each do |future_month| %>
  <% if future_month.user == current_user %>
    <% unless future_month.archived? %>
        <li>
          <%= link_to future_month.title, future_month %>
        </li>
    <% end %>
  <% end %>
<% end %>
<br>
</br>
<%= link_to "Add New Month", new_future_month_path %>
