<p>
  <strong>Source:</strong>
  <%= income.title %>
</p>

<p>
  <strong>Amount:</strong>
  <%= income.amount %>
</p>

<p>
  <strong>Earner:</strong>
  <%= income.earner %>
</p>

<p>
  <ul>
    <li><%= link_to "Delete", [income.month, income], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %></li>
  </ul>
</p>