<% content_for :title, "Welcome" %>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <h4>We are glad you are here</h4>
    </div>
    <div class="homepage_content">
        <p>
            -New here? Check out our  <%= link_to "About", about_index_path %> page to learn how to use the site
        </p>
    </div>
    <br>
    </br>
    <div class="homepage_content1">
        <p>
        -Come here often? Then sign in and rock and roll!
        </p>
    </div>
    <div class="home_photo">
        <%= image_tag("homepage_photo.jpeg", :alt => "success")%>
    </div>
</body>