- content_for :title, "Tools"
%h1 Here are some handy tools
.row
  .col-md-6
    = render "calculators/compound_interest"
  .col-md-6
    = render "calculators/loan"
  .col-md-6 
    = render "calculators/beer"