<p>
  <strong>Income:</strong>
  <%= expected_income.title %>
</p>

<p>
  <strong>Income:</strong>
  <%= expected_income.amount %>
</p>

<p>
  <strong>Income:</strong>
  <%= expected_income.earner %>
</p>

<p>
  <%= link_to "Delete this Income", [expected_income.future_month, expected_income], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
</p>