<% content_for :title, "About" %>
<div class="container">
    <h1>About</h1>
</div>
<div>
    <h4> Purpose </h4>
    <p>
        -This site was designed to allow you to track your past expenditures/income in order to help you plan for the future
    </p>
    <p>
        -Life is too short to spend at work. Our goal is to see everyone achieve financial indepdence as quick as they can
    </p>
</div>
<div>
    <h4> How it Works </h4>
    <p>
        -Sign up --> Start entering your past data (use your bank/credit card statements to find your expenses)
    </p>
    <p>
        -Evaluate the past data --> what areas surpise you? Where are you spending more money than you thought?
    </p>
    <p>
        -Enter future data --> give your best guess (using the past data as a model) to your upcoming income/expenses
    </p>
    <p>
        -Evaluate the future data --> are you able to pay all your bills? If so --> Great! Start planning how much you can save/where those savings dollars will go.
    </p>
    <p>
        -Evaluate the future data --> are you able to pay all your bills? If not --> No big deal! Start planning what expenses you can eliminate and/or how you can earn more money
    </p>
</div>
<div>
    <h4> Resources </h4>
    <p>
        -The ultimate (and I really mean ultimate) roadmap to financial freedom can be found via  <a href= "https://www.ramseysolutions.com/", target="_blank">Dave Ramsey</a> and his team at Ramsey Solutions
    </p>
    <p>
        -Listen to his podcast 1x/week, read some of  <a href= "https://www.amazon.com/Total-Money-Makeover-Classic-Financial/dp/1595555277/ref=sr_1_1?crid=2VO2RBJ3V6EFV&keywords=total+money+makeover&qid=1646844863&sprefix=total+mon%2Caps%2C109&sr=8-1", target="_blank">his books</a>, and come up with a plan to start winning with money
    </p>
    <p>
        -Check out this <a href= "https://www.investor.gov/financial-tools-calculators/calculators/compound-interest-calculator", target="_blank">compound interest calculator</a> (it does not take that much money each month to add up to ALOT OF MONEY later!)
    </p>
</div>


<div>
   
</div>