- content_for :title, "About"
.container
  %h1 About
%div
  %h4 Purpose
  %ul
    %li This site was designed to allow you to track your past expenditures/income in order to help you plan for the future
    %li Life is too short to spend at work. Our goal is to see everyone achieve financial indepdence as quick as they can
    %li The more money you have, the more pizza you can have (just saying)
%br
/ Button trigger modal
#bootstrap-button
  %button.btn.btn-primary{"data-bs-target" => "#exampleModal", "data-bs-toggle" => "modal", :type => "button"}
    How it works
/ Modal
#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title How it works
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
      .modal-body
        %ul
          %li Sign up then start entering your past data (pro tip: reference your bank/credit card statements to find your usual expenses)
          %li Evaluate the past data; what areas surpise you? Where are you spending more money than you thought?
          %li Enter your expected data; give your best guess (using the past data as a model) to your upcoming income/expenses
          %li Evaluate the future data; are you able to pay all your bills? If so, great! Head over to the goals section and make some plans for your excess cash. If not, no big deal! Start planning what expenses you can eliminate and/or how you can earn more income, in order to start winning with money!
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Close
%br
/ Button trigger modal
#bootstrap-button
  %button.btn.btn-primary{"data-bs-target" => "#exampleModal1", "data-bs-toggle" => "modal", :type => "button"}
    Resources
/ Modal
#exampleModal1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
  .modal-dialog
    .modal-content>
      .modal-header
        %h5#exampleModalLabel.modal-title Useful things we like
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
      .modal-body
        %ul
        %li
          The roadmap to financial freedom can be found via 
          = link_to "Dave Ramsey", "https://www.ramseysolutions.com/", target: "_blank"
          and his team at Ramsey Solutions.
          
        %li
          Listen to his 
          = link_to "podcast", "https://open.spotify.com/show/5exfRPDNCBHmntEkJrlLmX", target: "_blank"
          on Spotify.  
        %li
          Read some of his 
          = link_to "books,", "https://www.amazon.com/Total-Money-Makeover-Classic-Financial/dp/1595555277/ref=sr_1_1?crid=2VO2RBJ3V6EFV=total+money+makeover=1646844863=total+mon%2Caps%2C109=8-1", target: "_blank"
          and come up with a plan to start winning with money.
        %li
          Stay very far away from places 
          = link_to "like this.", "https://opensea.io/", target: "_blank"
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Close
          
