/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background-color: #d4d4d6;
    font-family: 'Playfair Display', serif;
}
.home_photo{
    display: flex;
    justify-content: right;
    width: 1250px;
    height: 500px;
    margin-top: -200px;
}
.btn-primary{
    background-color: #4b4b50 !important;
    width: 350px;
    height: 75px;
    font-size: 30px;
    box-shadow: black 0px 0px 3.5px;
    color: #a4a4a5;
    font-family: 'Playfair Display', serif;
    border-color: black;
}
.btn-secondary{
    background-color: brown !important;
    font-family: 'Playfair Display', serif;
}
#bootstrap-override{
    display: flex !important;
    justify-content: flex-end !important;
    border-radius: 50%;
    background-color: #d4d4d6;
    color: rgb(61, 58, 58);
    font-family: 'Playfair Display', serif;
}
#bootstrap-button{
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}
.moneyforcomputer{
    height: 55px;
    width: 55px;
}
.moneychick{
    box-shadow: black 0px 0px 10px;
    border-radius: 20px;
}
.modal-body{
    font-weight: bolder !important
}