/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background-color: #d4d4d6;
}

.home_photo{
    display: flex;
    justify-content: right;
    width: 1250px;
    height: 500px;
    margin-top: -200px;
    /* box-shadow: black 0px 0px 10px; */
}

.btn-primary{
    background-color: #6e6e97 !important;
    width: 350px;
    height: 75px;
    font-size: 30px;
    box-shadow: black 0px 0px 3.5px;
    color: rgb(61, 58, 58)
}
.btn-secondary{
    background-color: brown !important;
}
#bootstrap-override{
    display: flex;
    justify-content: flex-end;
    border-radius: 15px;
    background-color: #8e8e9c;
    color: rgb(61, 58, 58);

}

#bootstrap-button{
    display: flex;
    justify-content: center;
}

.modal-body{
    background-color: #d4d4d6;
}
.modal-footer{
    background-color: #9e9ea8;
}
.modal-header{
    background-color: #9e9ea8;
    color: white
}