<header>
    <div> "This is my cute little navbar"
        <nav>
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Past Data", months_index_path %> </li>
                <li><%= link_to "Future Data", future_months_index_path %> </li>
            </ul>
        </nav>
    </div>
</header>